# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage

# Production
dist/
build/

# Firebase
.firebase/
firestore.rules
firestore.indexes.json

# Environment Variables (IMPORTANT: Security!)
.env
.env.local
.env.development.local

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*d

#Google cloud keys
*.json